<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<head>

</head>
<body>
<section layout:fragment="conteudo">

    <hr class="offset-lg">

    <div class="container gallery">
        <div class="row">
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="../img/gallery/thumb/video-apple.jpg" data-gallery="#video" 
                  data-source="vimeo" data-id="110691368" data-title="Apple iPad Air" data-description="So capable, you won’t want to put it down. So thin and light, you won’t have to.">
              <div class="overlay"></div>
              <i class="ion-ios-play"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="../img/gallery/thumb/img1.jpg" data-gallery="#photo" 
                  data-source="../img/gallery/img1.jpg" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="../img/gallery/thumb/img2.jpg" data-gallery="#photo" 
                  data-source="../img/gallery/img2.jpg" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="../img/gallery/thumb/video-dell.jpg" data-gallery="#video" 
                  data-source="youtube" data-id="yTJk6nZLEZc" data-title="Best New Dell Laptops" data-description="Best of dell's laptops that you can consider buying in 2016. 4 Laptops are featured in the video and all of them has equal importance and there is no order that #1 is better than #2">
              <div class="overlay"></div>
              <i class="ion-ios-play"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="../img/gallery/thumb/img3.jpg" data-gallery="#photo" 
                  data-source="../img/gallery/img3.jpg" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="../img/gallery/thumb/img4.jpg" data-gallery="#photo" 
                  data-source="../img/gallery/img4.jpg" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="../img/gallery/thumb/img5.jpg" data-gallery="#photo" 
                  data-source="../img/gallery/img5.jpg" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="../img/gallery/thumb/img6.jpg" data-gallery="#photo" 
                  data-source="../img/gallery/img6.jpg" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="../img/gallery/thumb/img7.jpg" data-gallery="#photo" 
                  data-source="../img/gallery/img7.jpg" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="../img/gallery/thumb/img8.jpg" data-gallery="#photo" 
                  data-source="../img/gallery/img8.jpg" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="../img/gallery/thumb/img9.jpg" data-gallery="#photo" 
                  data-source="../img/gallery/img9.jpg" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="../img/gallery/thumb/img10.jpg" data-gallery="#photo" 
                  data-source="../img/gallery/img10.jpg" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="../img/gallery/thumb/img11.jpg" data-gallery="#photo" 
                  data-source="../img/gallery/img11.jpg" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
        </div>
    </div>
    <hr class="offset-lg">
    <hr class="offset-lg">

    <!-- Modal -->
    <div class="modal fade" id="Modal-ForgotPassword" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="modal-title">Forgot Your Password?</h4>
                  <br>

                  <form class="join" action="index.php" method="post">
                    <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control" />
                    <br>

                    <button type="submit" class="btn btn-primary btn-sm">Continue</button>
                    <a href="#Sign-In" data-action="Sign-In">Back ></a>
                  </form>
                </div>
                <div class="col-sm-6">
                  <br><br>
                  <p>
                    Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="Modal-Gallery" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
            <h4 class="modal-title">Title</h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery-latest.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/core.js"></script>
    <script src="../js/carousel.js"></script>

</section>
  </body>
</html>